<div class="d-flex fill flex-column" *ngIf="questionnaire">
  <app-form-error [backgroundColor]="design.color1" [textColor]="design.color3"></app-form-error>
  <div class="container-fluid h-100" [style.backgroundColor]="design.color_background">
    <div class="row h-100">
      <div class="card" [style.backgroundColor]="design.color_background" [style.color]="design.color_card">
        <div class="card-logo">
          <img [src]="design.logo">
        </div>
        <!-- intro screen -->
        <app-intro-screen *ngIf="phase==0" [translations]="translations" [design]="design"
          (onStart)="changePhase($event)"></app-intro-screen>

        <!-- questionnaire -->
        <!-- we use hidden instead of *ngIf to preserve questionnaire state -->
        <app-questionnaire [hidden]="phase != 1" (onPhaseEnd)="changePhase($event)" [data]="questionnaire"
          [design]="design" [nextButtonLabel]="translations.labels.next_question" [rules]="rules">
        </app-questionnaire>

        <!-- outro screen -->
        <app-outro-screen *ngIf="phase==2 && quizData" [translations]="translations" [data]="quizData">
        </app-outro-screen>
      </div>
    </div>
  </div>
</div>
{{ questionnaire == undefined ? 'loading questionnaire' : ''}}