<app-form-error></app-form-error>
<div class="container-fluid fill" [style.backgroundColor]="questionnaireStructure?.design?.color_background">
  {{ questionnaireStructure == undefined ? 'loading questionnaire' : ''}}
  <div class="row h-100" *ngIf="questionnaireStructure">
    <div class="card w-100" [style.backgroundColor]="questionnaireStructure?.design?.color_background"
      [style.color]="questionnaireStructure?.design?.color_card">
      <div class="card-logo">
        <img [src]="questionnaireStructure.design.logo">
      </div>
      <ng-container *ngIf="phase==0">
        <div class="card-media"></div>
        <div class="card-content">
          <div class="card-content-item">
            <div class="container text-center text-container" [innerHtml]="translations.intro.text">
            </div>
          </div>
        </div>
        <div class="card-actions">
          <div class="card-actions-item">
            <button [style.background-color]="questionnaireStructure?.design?.color_button"
              [style.color]="questionnaireStructure?.design?.color_button_text"
              (click)="start()">{{ translations.labels.start_survey }}</button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="phase==1">
        <app-questionnaire class="h-100" (onPhaseEnd)="changePhase($event)"
          [data]="questionnaireStructure.questionblocks[0]" [design]="questionnaireStructure?.design"
          [nextButtonLabel]="translations.labels.next_question" [rules]="questionnaireStructure.rules"></app-questionnaire>
      </ng-container>
      <ng-container *ngIf="phase==2">
        <div class="card-media"></div>
        <div class="card-content">
          <div class="card-content-item">
            <div class="container text-center text-container" [innerHtml]="quizResponse">
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>